section {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    max-width: 540px;
}

.card-body {
    display: grid;
    place-items: center;
}

.card-header {
    text-align: center;
}

.location-icon {
    width: 50%;
    margin-bottom: 20px;
}

.card {
    height: 100%;
}