<section class="container"> 
    <div class="card-container" *ngFor='let loc of locations'>
        <div class="card text-white bg-info mb-3" appReveal >
            <div class="card-header"><strong>{{ loc.city }}</strong></div>
            <div class="card-body">
                <img src="{{ loc.icon }}" alt="" class="location-icon">
                <p class="card-text"><strong>Min:</strong> {{ loc.min }}°C</p>
                <p class="card-text"><strong>Max:</strong> {{ loc.max }}°C</p>
            </div>
        </div>
    </div>
</section>